<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="EMM_Connection" value="Data Source=.\SQLExpress;Initial Catalog=PD;Integrated Security=True;"/>
		<add key="strFooter" value="© 2009. All rights reserved."/>
		<add key="fromAddress" value="No-Reply@Cglobal.com"/>
		<add key="fromName" value="PDs"/>
		<add key="email_subject" value="Welcome to ...Application"/>
		<add key="copyright" value="Copyright 2009"/>
		<add key="NewUserTitle" value="Thank you for returning to the final step of registration. Once your registration information has been submitted, you will have immediate access to viewing and printing PD documents."/>
		<add key="AdobeURL" value="http://www.adobe.com/products/acrobat/readstep2.html"/>
		<add key="CompanyLogoPath" value="~\docs\Company_Logo.jpg"/>
		<!-- 

  <add key="NewUserURL" value="http:.../PD/default.aspx?Is_Blocked=1" />
  <add key="UserChangePassword" value="http://.../default.aspx?ChangePassword=1" />
  -->
		<add key="NewUserURL" value="http://localhost:1226/PD/default.aspx?Is_blocked=1"/>
		<add key="UserChangePassword" value="http://localhost:1226/PD/default.aspx?ChangePassword=1"/>
		<add key="emailDisclaimer1" value="The information contained in this e-mail message and any attachments may be confidential. It is intended only for the use of the individual or entities named above. If the reader of this message is not the intended recipient, you are hereby"/>
		<add key="emailDisclaimer2" value=" notified that any dissemination, distribution or copying of this communication is strictly prohibited. If you have received this communication in error, please notify us immediately by e-mail at the originating address."/>
	</appSettings>
	<connectionStrings>
		<add name="EMM_Connection" connectionString="Data Source=.\SQLExpress;Initial Catalog=PD;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<machineKey validationKey="AutoGenerate" decryptionKey="AutoGenerate" validation="SHA1"/>
		<pages enableViewStateMac="true"/>
		<customErrors defaultRedirect="~/ErrorMessage.aspx" mode="RemoteOnly"/>
		<compilation defaultLanguage="cs" debug="true">
			<assemblies>
			</assemblies>
		</compilation>
		<globalization culture="en-us" uiCulture="en"/>
		<sessionState timeout="20" mode="InProc">
		</sessionState>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp from="">
				<network host="smtp.comcast.net" password="" userName=""/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
